code {font-family: Consolas, 'Liberation Mono', Courier, monospace;color: #534C4C;
    padding: 10px 30px;border-left: 3px solid #1f8dd6;background: rgb(245, 251, 253);
    margin: auto;vertical-align: top;display: block;line-height: 40px;}

/****  html  ****/
    .tag {color: #1f8dd6;}
    .string {color: rgb(102, 102, 102);}
    .attr {color: rgb(255, 130, 47);}
    .tagname {color: rgb(102, 102, 102);}
    .tagclose {color: rgb(103, 246, 36);}
    .inspid {color: blue;}
    .equal {color: #1f8dd6;}
    .comment {color: #ccc;}
        .comment span {color: #ccc!important;}

/****  bash  ****/
    .sh {color: #1f8dd6}
    .cmdComment {color: #ccc;}
        .cmdComment span {color: #ccc;}


/****  css  ****/
    .selector {color: rgb(255, 130, 47);}
    .property {color: #1f8dd6;}
    .cssString {color: rgb(103, 246, 36);}
    .cssComment {color: #ccc;}
    .number {color: blue;}
    .unit {color: red;}

/****  javascript  ****/
    .jsString {color: rgb(103, 246, 36);}
        .jsString span {color: rgb(103, 246, 36);}
    .operation {color: red;}
    .var, .function, .keyword{color:#1f8dd6;}
    .jsComment {color: #ccc!important;}
        .jsComment span {color: #ccc!important;}
