/*#1f8dd6*/
html {font-family: proxima-nova, Consolas, 'Liberation Mono', Courier, monospace;}
body {margin: 0;}

 @font-face {
    font-family: "proxima-nova";
    src: url("./ProximaNova-Light.otf");
}

.flb-box {display: box;display: -webkit-box;display: -ms-box;display: -o-box;display: -moz-box;}
    .flb-p1 {-webkit-box-flex: 1; -ms-fex:1; box-flex:1; flex:1;}

.hero {line-height: 200px;font-size: 500%;text-align: center;font-weight: 100;
    font-family: cursive;}
    .hero a { color: #1f8dd6;text-decoration: none;}
.hero-desc {text-align: center; color: #666;font-size: 120%;line-height: 30px;margin: 20px 0;}
    .hero-desc p {display: block;margin: auto;max-width: 700px;}

.buttons {text-align: center;margin-top: 30px;margin-bottom: 100px;}
    .button-secondary {background: #fff;color: #666;border: 1px solid #ddd;}
    .button-large {font-size: 120%;margin: 0.5em;}
    .button-new {background: #fff;color: #1f8dd6;}

.head {text-align: left;max-width: 662px;position: relative;margin: auto;}
.head h3 {margin: 20px auto;margin-top: 30px;display: inline-block;}

.rainbow .item {border-top:50px solid;}
    .rainbow .item:nth-child(1){border-color: #51DD4C;}
    .rainbow .item:nth-child(2){border-color: rgb(80, 28, 192);}
    .rainbow .item:nth-child(3){border-color: white;}
    .rainbow .item:nth-child(4){border-color: rgb(250, 242, 50);}
    .rainbow .item:nth-child(5){border-color: #DD160F;}
    .rainbow .item:nth-child(6){border-color: rgb(245, 172, 42);}
    /*.rainbow .item:nth-child(6){border-color: rgb(29, 226, 243);}}*/

/**
 *  Code styles
 **/
.code {text-align: center;margin: auto;}
code {font-family: Consolas, 'Liberation Mono', Courier, monospace;color: #757575;text-align: center;
    padding: 20px 30px;border-left: 3px solid #1f8dd6;background: rgb(245, 251, 253);
    margin: auto;vertical-align: top;display: inline-block;}
    .tag {color: #EC008E;}
    .string {color: #878D3B;}
    .attr {color: rgb(255, 130, 47);}
    .tagname {color: rgb(60, 86, 224);}
    .tagclose {color: rgb(103, 246, 36);}
    .inspid {color: blue;}


.docs {text-align: center;}
    .doc-title {font-size: 250%;}

.start {width: 700px;border-bottom: 1px solid #eee;line-height: 120px;position: relative;margin: auto;
    color: rgb(119, 119, 119);color: #666;}
    .start h1 {font-size: 250%;line-height: 50px;}
    .start h4 {font-size: 110%;line-height: 30px;}
.step {border-left: 3px solid #1f8dd6;width: 600px;background-color: white;display: inline-block;text-align: left;
    }

.footer {text-align: center;background-color: #1f8dd6;color: white;line-height: 35px;padding-top: 50px;
    padding-bottom: 70px;font-size: 100%}
    .footer a {color: white;text-decoration: underline;}

@media (max-width: 600px) {
    .hero {font-size: 300%;line-height: 130px;}
    .hero-desc {line-height: 20px;font-size: 0px;text-align: left;}
        .hero-desc p {display: inline-block;width: 50%;font-size: 12px;display: inline;}
    .head h3 {font-size: 100%;}
    code {text-align: left;font-size: 90%;}
    .button-large {font-size: 100%;}
    .footer {font-size: 90%;padding-top: 50px;padding-bottom: 30px;}
}
