/*#1f8dd6*/
html {font-family: 'proxima-nova', Consolas, sans-serif;;}
body {margin: 0;}

 @font-face {
    font-family: "proxima-nova";
    src: url("./ProximaNova-Light.otf");
}

.flb-box {display: box;display: -webkit-box;display: -ms-box;display: -o-box;display: -moz-box;}
    .flb-p1 {-webkit-box-flex: 1; -ms-fex:1; box-flex:1; flex:1;}
.ta-c {text-align: center;}
.ta-l {text-align: left;}
.link {color: #1f8dd6}
.text-hl:hover {color: #333;}
.f-sm {color: #333;font-size: 60%;}
.lh-sm {line-height: 25px;}

.hero {text-align: center;width: 800px;margin: auto;}
    .hero-title {line-height: 200px;font-size: 500%;font-weight: 100;position: relative;
        font-family: 'Cabin Sketch', cursive;color: #1f8dd6;text-decoration: none;display: inline-block;}
        .hero-link { opacity: 0;position: absolute;top: 0px;right: -50px;font-size: 35px;color: #ddd;
            -webkit-transition:opacity 0.5s ease;transition:opacity 0.5s ease;}
        .hero-title:hover .hero-link {opacity: 1;}
    .hero-desc {text-align: center; color: #666;font-size: 120%;line-height: 30px;margin: 20px 0;}
        .hero-desc p {display: block;margin: auto;}

.buttons {text-align: center;margin-top: 30px;margin-bottom: 80px;}
    .button-secondary {background: #fff;color: #666;border: 1px solid #ddd;}
    .button-large {font-size: 120%;margin: 0.5em;}
    .button-new {background: #fff;color: #1f8dd6;}

.head {text-align: left;}
.head h4 {margin: 20px auto;margin-top: 30px;display: inline-block; font-family: 'Courier New', proxima-nova; }

.rainbow .item {border-top:10px solid;}
    .rainbow .item:nth-child(1){border-color: #51DD4C;}
    .rainbow .item:nth-child(2){border-color: rgb(80, 28, 192);}
    .rainbow .item:nth-child(3){border-color: white;}
    .rainbow .item:nth-child(4){border-color: rgb(250, 242, 50);}
    .rainbow .item:nth-child(5){border-color: #DD160F;}
    .rainbow .item:nth-child(6){border-color: rgb(245, 172, 42);}
    /*.rainbow .item:nth-child(6){border-color: rgb(29, 226, 243);}}*/

/**
 *  Code styles
 **/
code {font-family: Consolas, 'Liberation Mono', Courier, monospace;color: #534C4C;
    padding: 10px 30px;border-left: 3px solid #1f8dd6;background: rgb(245, 251, 253);
    margin: auto;vertical-align: top;display: block;line-height: 40px;}
    .tag {color: #1f8dd6;}
    .string {color: rgb(102, 102, 102);}
    .attr {color: rgb(255, 130, 47);}
    .tagname {color: rgb(102, 102, 102);}
    .tagclose {color: rgb(103, 246, 36);}
    .inspid {color: blue;}
    .equal {color: #1f8dd6;}
    .comment {color: #ccc;}


.docs {text-align: center;width: 750px;margin: auto;margin-bottom: 100px;}
    .start {border-bottom: 1px solid #eee;position: relative;margin: auto;
        color: rgb(119, 119, 119);color: #666;}
        .start-title {font-size: 250%;line-height: 80px;}
        

        .start-subtitle {font-size: 110%;line-height: 40px; margin-bottom: 10px}
.doc-title {font-size: 150%;line-height: 80px;text-align: left;color: #888;margin-top: 20px;}
.doc-desc {line-height: 40px;text-align: left;color: rgb(83, 74, 74)    ;margin-bottom: 10px;}
.doc-hl {color: #1f8dd6;}

.footer {text-align: center;background-color: #1f8dd6;color: white;line-height: 35px;padding-top: 50px;
    padding-bottom: 70px;font-size: 100%}
    .footer a {color: white;text-decoration: underline;}

@media (max-width: 700px) {
    .hero {width: auto;}
        .hero-title {font-size: 300%;line-height: 130px;}
        .hero-desc {line-height: 20px;font-size: 0px;text-align: left;padding: 0 10px;}
            .hero-desc p {display: inline-block;width: 50%;font-size: 14px;display: inline;}
    .head {text-align: center;}
    .head h4 {font-size: 100%;margin-top: 0px;}
    code {text-align: left;font-size: 90%;}
    .button-large {font-size: 100%;}
    .docs {width: auto;padding: 0 15px;}
    .footer {font-size: 90%;padding-top: 50px;padding-bottom: 30px;}
}
