<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JSInspector devtools</title>
    <script src="lib/zepto.min.js"></script>
    <script src="lib/vue.min.js"></script>
    <link rel="stylesheet" href="inspector.css">
</head>
<body>
    <!-- inpsctor inspected device view frame -->
    <iframe src="about:blank" frameborder="0" id="inspectorFrame"></iframe>

    <!-- inspector elements panel -->    
    <div id="wrapper" style="font-size: 10px;display:none;"></div>
    <script type="text/teamplate" id="tpl-style-list">
        <ul>
            <li v-repeat="sheets" class="stylesheet">
                <div class="content">
                    <div class="head">
                        <div class="selector">{{selectorText}} {</div>
                        <a class="href" href="{{href}}">{{href | source}}</a>
                    </div>
                    <div class="rules">
                        <div v-repeat="styleRules" class="rule">
                            <div type="text" class="style-selector" contenteditable=true draggable=false>{{selector}}</div>:
                            <div type="text" class="style-value" contenteditable=true draggable=false>{{value}}</div>;
                        </div>
                    </div>
                    <div class="foot">}</div>
                </div>
            </li>
        </ul>
    </script>
    <script src="inspector.view.js"></script>
    <script src="inspector.test.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('<%= host %>'),
            inspectorId = '<%= inspectorId %>',
            inspectorFrame = document.querySelector('#inspectorFrame'),
            slice = Array.prototype.slice;

        /**
         *  update inspected device view
         **/
        function updateInspectorFrame (data) {

            var ispDoc = inspectorFrame.contentDocument,
                ispWin = inspectorFrame.contentWindow;

            if (data.html) {
                ispDoc.open();
                // remove inspector CORS frame src and save dom for Xpath
                data.html = data.html.replace(/<iframe\s*src="[^"]*"\s*id="__jsinspector_cors_iframe"/, 
                    '<iframe src="" id="__jsinspector_cors_iframe"');
                ispDoc.write(data.html);
                ispDoc.close();

                // slice.call(ispDoc.querySelectorAll('link[isp-href]')).forEach(function (item) {
                //     item.href = item.getAttribute('isp-href');
                //     item.removeAttribute('isp-href'); 
                // });
                // slice.call(ispDoc.querySelectorAll('img[isp-src]')).forEach(function (item) {
                //     item.src = item.getAttribute('isp-src');
                //     item.removeAttribute('isp-src'); 
                // });
                // slice.call(ispDoc.querySelectorAll('input[isp-value]')).forEach(function (item) {
                //     item.value = item.getAttribute('isp-value');
                //     item.removeAttribute('isp-value'); 
                // });

            }
            if (data.html) {
                if (data.meta.scrollTop !== undefined) {
                    ispWin.scrollTo(0, data.meta.scrollTop);
                }
            }
        }

        socket.on('connect', function () {
            // when connect initialize device view with server-side temp data;
            socket.emit('inspect:html:init', {
                inspectorId: inspectorId
            });
             
        });
        // receive init data
        socket.on('inspect:html:init:<%= inspectorId %>', function (data) {
            updateInspectorFrame(JSON.parse(data));
        });
        // device view update 
        socket.on('inspect:html:update:<%= inspectorId %>', function (data) {
            updateInspectorFrame(JSON.parse(data));
        });
    </script>
</body>
</html>