<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JSInspector devtools</title>
    <script src="lib/zepto.min.js"></script>
    <script src="lib/vue.min.js"></script>
    <link rel="stylesheet" href="inspector.css">
</head>
<body>
    <iframe src="about:blank" frameborder="0" id="inspectorFrame"></iframe>
    <div id="wrapper" style="font-size: 10px;"></div>
    <script type="text/teamplate" id="tpl-style-list">
        <ul>
            <li v-repeat="sheets" class="stylesheet">
                <div class="content">
                    <div class="head">
                        <div class="selector">{{selectorText}} {</div>
                        <a class="href" href="{{href}}">{{href | source}}</a>
                    </div>
                    <div class="rules">
                        <div v-repeat="styleRules" class="rule">
                            <div type="text" class="style-selector" contenteditable=true draggable=false>{{selector}}</div>:
                            <div type="text" class="style-value" contenteditable=true draggable=false>{{value}}</div>;
                        </div>
                    </div>
                    <div class="foot">}</div>
                </div>
            </li>
        </ul>
    </script>
    <script src="inspector.view.js"></script>
    <script src="inspector.test.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('<%= host %>'),
            inspectorFrame = document.querySelector('#inspectorFrame'),
            inspectorId = '<%= inspectorId %>';

        socket.on('connect', function () {
            socket.emit('inspect:html:init', {
                inspectorId: inspectorId
            });
             
        });

        function updateInspectorFrame (data) {
            var ispDoc = inspectorFrame.contentDocument,
                ispWin = inspectorFrame.contentWindow;

            if (data.html) {
                ispDoc.open(); 
                ispDoc.write(data.html);
            }
            if (data.meta.scrollTop !== undefined) {
                ispWin.scrollTo(0, data.meta.scrollTop);
            }
        }

        socket.on('inspect:html:init:<%= inspectorId %>', function (data) {
            updateInspectorFrame(JSON.parse(data));
        });
        socket.on('inspect:html:update:<%= inspectorId %>', function (data) {
            updateInspectorFrame(JSON.parse(data));
        });
        // socket.on('inspect:stylesheet:update:<%= inspectorId %>', function (data) {
        //     stylesList.$data.styleSheets = data.data;
        // });
    </script>
</body>
</html>